.title {
  font-size: 2.3rem;
  font-family: Pacifico, cursive;
  text-align: center;
  color: #3f729b; }

p {
  font-size: 1.2rem; }

a.anchor {
  display: block;
  position: relative;
  top: -67px;
  visibility: hidden; }

.company-logo {
  display: block;
  margin: auto;
  max-width: 100px;
  max-height: 70px;
  transition: all .2s ease-in-out;
  opacity: 0.8; }

.company-logo:hover {
  transform: scale(1.1); }

a {
  color: #FBAC16;
  text-decoration: none;
  transition: all .2s ease-in-out; }

a:hover {
  font-weight: bold; }

.secondary-light-wave {
  fill: #abc6db; }

.svg-wave {
  vertical-align: bottom;
  animation: moving-wave 5s linear infinite; }

.svg-wave-top {
  vertical-align: bottom; }

@keyframes moving-wave {
  0% {
    transform: scale(1, 1); }
  10% {
    transform: scale(1, 1.05); }
  20% {
    transform: scale(1, 1.15); }
  30% {
    transform: scale(1, 1.2); }
  40% {
    transform: scale(1, 1.23); }
  50% {
    transform: scale(1, 1.23); }
  60% {
    transform: scale(1, 1, 2); }
  70% {
    transform: scale(1, 1.1); }
  80% {
    transform: scale(1, 1.05); }
  90% {
    transform: scale(1, 1.02); }
  100% {
    transform: scale(1, 1); } }

.space-under {
  margin-bottom: 40px; }

::-moz-selection {
  background: #FBAC16; }

::selection {
  background: #FBAC16; }

.secondary-light-bg {
  background-color: #abc6db;
  margin: 0px; }

.projects {
  position: relative;
  max-width: 1200px;
  margin: 0 auto; }

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px; }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both; }
