.title {
  font-size: 2.3rem;
  font-family: Pacifico, cursive;
  text-align: center;
  color: #3f729b; }

p {
  font-size: 1.2rem; }

a.anchor {
  display: block;
  position: relative;
  top: -67px;
  visibility: hidden; }

.company-logo {
  display: block;
  margin: auto;
  max-width: 100px;
  max-height: 70px;
  transition: all .2s ease-in-out;
  opacity: 0.8; }

.company-logo:hover {
  transform: scale(1.1); }

a {
  color: #FBAC16;
  text-decoration: none;
  transition: all .2s ease-in-out; }

a:hover {
  font-weight: bold; }

.secondary-light-wave {
  fill: #abc6db; }

.svg-wave {
  vertical-align: bottom;
  animation: moving-wave 5s linear infinite; }

.svg-wave-top {
  vertical-align: bottom; }

@keyframes moving-wave {
  0% {
    transform: scale(1, 1); }
  10% {
    transform: scale(1, 1.05); }
  20% {
    transform: scale(1, 1.15); }
  30% {
    transform: scale(1, 1.2); }
  40% {
    transform: scale(1, 1.23); }
  50% {
    transform: scale(1, 1.23); }
  60% {
    transform: scale(1, 1, 2); }
  70% {
    transform: scale(1, 1.1); }
  80% {
    transform: scale(1, 1.05); }
  90% {
    transform: scale(1, 1.02); }
  100% {
    transform: scale(1, 1); } }

.space-under {
  margin-bottom: 40px; }

::-moz-selection {
  background: #FBAC16; }

::selection {
  background: #FBAC16; }

.button {
  border-radius: 10px;
  border-width: 5px;
  border-style: dashed;
  display: block;
  margin: auto;
  width: 235px;
  height: 50px;
  color: white;
  font-size: 1.3rem;
  background-color: #FBAC16;
  border-width: 0px;
  border-color: #ffecb3;
  transition: border-width 0.5s; }

.button:hover {
  border-width: 5px;
  cursor: pointer; }

button:active {
  transform: scale(1.05); }
