.title {
  font-size: 2.3rem;
  font-family: Pacifico, cursive;
  text-align: center;
  color: #3f729b; }

p {
  font-size: 1.2rem; }

a.anchor {
  display: block;
  position: relative;
  top: -67px;
  visibility: hidden; }

.company-logo {
  display: block;
  margin: auto;
  max-width: 100px;
  max-height: 70px;
  transition: all .2s ease-in-out;
  opacity: 0.8; }

.company-logo:hover {
  transform: scale(1.1); }

a {
  color: #FBAC16;
  text-decoration: none;
  transition: all .2s ease-in-out; }

a:hover {
  font-weight: bold; }

.secondary-light-wave {
  fill: #abc6db; }

.svg-wave {
  vertical-align: bottom;
  animation: moving-wave 5s linear infinite; }

.svg-wave-top {
  vertical-align: bottom; }

@keyframes moving-wave {
  0% {
    transform: scale(1, 1); }
  10% {
    transform: scale(1, 1.05); }
  20% {
    transform: scale(1, 1.15); }
  30% {
    transform: scale(1, 1.2); }
  40% {
    transform: scale(1, 1.23); }
  50% {
    transform: scale(1, 1.23); }
  60% {
    transform: scale(1, 1, 2); }
  70% {
    transform: scale(1, 1.1); }
  80% {
    transform: scale(1, 1.05); }
  90% {
    transform: scale(1, 1.02); }
  100% {
    transform: scale(1, 1); } }

.space-under {
  margin-bottom: 40px; }

::-moz-selection {
  background: #FBAC16; }

::selection {
  background: #FBAC16; }

/* Style the counter cards */
.card-header {
  border-width: 0px;
  border-bottom-width: 5px;
  border-style: dashed;
  background-color: #e3eaf0;
  border-color: #3f729b;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding-top: 20px;
  padding: 20px 30px;
  height: 50%; }

.card-content {
  height: 50%;
  padding: 0 16px; }

/* Float four columns side by side */
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 390px;
  height: 390px;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
  float: left;
  padding: 0 30px;
  margin-bottom: 40px; }

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d; }

/* Do an vertical flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateX(180deg); }

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden; }

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  border-radius: 10px;
  background-color: #d3dee6;
  text-align: center; }

/* Style the back side */
.flip-card-back {
  border-radius: 10px;
  background-color: #d3dee6;
  text-align: center;
  padding: 20px 30px;
  transform: rotateX(180deg);
  z-index: 2; }

/* Folded corner, flip hint */
.foldbr:before {
  content: "";
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 0px;
  height: 0px;
  border-top: 35px solid #d3dee6;
  border-right: 35px solid #abc6db;
  /*Set to background color, not transparent!*/
  -webkit-box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px 0px 0px 0px;
  /* top left, top right, bottom right, bottom left */ }

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .flip-card {
    width: 100%;
    display: block;
    padding: 0px; } }

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 800px) {
  .flip-card {
    height: 468px; }
  .card-header {
    padding-top: 40px; } }
