.title {
  font-size: 2.3rem;
  font-family: Pacifico, cursive;
  text-align: center;
  color: #3f729b; }

a.anchor {
  display: block;
  position: relative;
  top: -67px;
  visibility: hidden; }

.company-logo {
  display: block;
  margin: auto;
  max-width: 100px;
  max-height: 70px;
  transition: all .2s ease-in-out;
  opacity: 0.8; }

.company-logo:hover {
  transform: scale(1.1); }

a {
  color: #FBAC16;
  text-decoration: none;
  transition: all .2s ease-in-out; }

a:hover {
  font-weight: bold;
  cursor: pointer; }

.secondary-light-wave {
  fill: #abc6db; }

.svg-wave-top {
  animation: moving-wave 7s ease-in-out infinite;
  position: relative;
  z-index: 0;
  vertical-align: bottom;
  transform-origin: bottom; }

@keyframes moving-wave {
  0%, 100% {
    transform: scale(1, 1); }
  50% {
    transform: scale(1, 1.23); } }

.svg-wave-bottom {
  animation: moving-wave 7s ease-in-out infinite;
  position: relative;
  z-index: 0;
  animation: moving-wave 7s ease-in-out infinite;
  transform-origin: top; }

.space-under {
  margin-bottom: 40px; }

::-moz-selection {
  background: #FBAC16; }

::selection {
  background: #FBAC16; }

* {
  box-sizing: border-box; }

/* Slideshow container */
.carousel-container {
  border-radius: 10px;
  border-width: 5px;
  border-style: dashed;
  padding: 15px 28px;
  color: #FBAC16;
  background-color: #ffecb3;
  width: 45%;
  position: relative;
  margin: auto; }

.carousel-title {
  margin-bottom: 15px; }

.carousel-img {
  max-width: 100%;
  border-radius: 5px;
  user-select: none; }

/* Next & previous buttons */
.prev, .next {
  border-radius: 10px;
  border-width: 5px;
  border-style: dashed;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  height: 50px;
  width: 50px;
  background-color: #FBAC16;
  color: #ffecb3;
  border-color: #ffecb3;
  border-width: 0px;
  border-radius: 50%;
  font-weight: bolder;
  font-size: x-large;
  transition: 0.6s ease;
  user-select: none; }

.center-inside {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

/* Position the "next button" to the right */
.next {
  right: -28px; }

.prev {
  left: -28px; }

/* On hover, add a border */
.prev:hover, .next:hover {
  border-width: 5px; }

/* Caption text */
.text {
  color: white;
  padding: 15px;
  opacity: 0.9;
  background-color: #3f729b;
  width: 90%;
  margin-top: -70px !important;
  height: 120px;
  margin: auto;
  text-align: center;
  border-radius: 5px; }

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  margin: 0 5px;
  width: 25px;
  height: 25px;
  background-color: #ffecb3;
  border: 4px solid #FBAC16;
  border-radius: 50%;
  z-index: 1;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
  z-index: 1; }

.carousel-dots {
  width: 100%;
  text-align: center;
  margin-top: 20px; }

.active, .dot:hover {
  background-color: #FBAC16; }

/* Fading animation, two different names so can switch when changing image and replay animation */
.fade {
  animation: fade-in 1s ease-in; }

/* Fading animation */
.fade2 {
  animation: fade-in2 1s ease-in; }

@keyframes fade-in {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

@keyframes fade-in2 {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

@media screen and (max-width: 1000px) {
  .carousel-container {
    width: 70%; } }

@media screen and (max-width: 700px) {
  .carousel-container {
    width: 100%; } }

@media screen and (max-width: 505px) {
  .text {
    height: 170px;
    width: 95%; } }

@media screen and (max-width: 400px) {
  .text {
    height: 220px; } }

@media screen and (max-width: 370px) {
  .text {
    height: 270px;
    width: 97%; } }
