.title {
  font-size: 2.3rem;
  font-family: Pacifico, cursive;
  text-align: center;
  color: #3f729b; }

p {
  font-size: 1.2rem; }

a.anchor {
  display: block;
  position: relative;
  top: -67px;
  visibility: hidden; }

#navbar {
  background-color: #dd9a1e;
  color: white;
  opacity: 0.8;
  position: fixed;
  top: -57px;
  width: 100%;
  display: block;
  transition: top 0.3s;
  z-index: 2; }

ul {
  margin: 0px; }

#navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 25%;
  /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center;
  /* If you want the text to be centered */ }

#navbar a:hover {
  background-color: #f5c262;
  font-weight: bold;
  transition: background-color .5s ease-in-out, font-weight 0.5s ease-in-out; }

.active-link {
  background-color: #f5c262;
  font-weight: bold;
  transition: background-color .5s ease-in-out, font-weight 0.5s ease-in-out; }

.invisible-navbar {
  top: -57px; }

.visible-navbar {
  top: 0px !important; }
