.title {
  font-size: 2.3rem;
  font-family: Pacifico, cursive;
  text-align: center;
  color: #3f729b; }

a.anchor {
  display: block;
  position: relative;
  top: -67px;
  visibility: hidden; }

.company-logo {
  display: block;
  margin: auto;
  max-width: 100px;
  max-height: 70px;
  transition: all .2s ease-in-out;
  opacity: 0.8; }

.company-logo:hover {
  transform: scale(1.1); }

a {
  color: #FBAC16;
  text-decoration: none;
  transition: all .2s ease-in-out; }

a:hover {
  font-weight: bold;
  cursor: pointer; }

.secondary-light-wave {
  fill: #abc6db; }

.svg-wave-top {
  animation: moving-wave 7s ease-in-out infinite;
  position: relative;
  z-index: 0;
  vertical-align: bottom;
  transform-origin: bottom; }

@keyframes moving-wave {
  0%, 100% {
    transform: scale(1, 1); }
  50% {
    transform: scale(1, 1.23); } }

.svg-wave-bottom {
  animation: moving-wave 7s ease-in-out infinite;
  position: relative;
  z-index: 0;
  animation: moving-wave 7s ease-in-out infinite;
  transform-origin: top; }

.space-under {
  margin-bottom: 40px; }

::-moz-selection {
  background: #FBAC16; }

::selection {
  background: #FBAC16; }

.secondary-light-bg {
  background-color: #abc6db;
  margin: 0px; }

.experiences {
  position: relative;
  max-width: 1200px;
  margin: 0 auto; }

/* Remove extra left and right margins, due to padding in cards */
.row {
  margin: 0 -5px; }

/* Clear floats after the cards */
.row:after {
  content: "";
  display: table;
  clear: both; }
