@import '../../assets/globals';
@import '../../assets/theme';

.secondary-light-bg {
    background-color: $secondary-color-lighter;
    margin: 0px;
}

.experiences {
  @include max-section-width;
}
  
/* Remove extra left and right margins, due to padding in cards */
.row {margin: 0 -5px;}

/* Clear floats after the cards */
.row:after {
  content: "";
  display: table;
  clear: both;
}