$primary-color-dark: rgb(221, 154, 30);
$primary-color-accent: #FBAC16;
$primary-color: #f5c262;
$primary-color-background: #ffecb3;
$primary-color-background-lighter: rgb(255,240,194);
$secondary-color: #3f729b;
$secondary-color-light: #5586ad;
$secondary-color-lighter: #abc6db;
$secondary-color-background: #d3dee6;
$secondary-color-background-lighter: #e3eaf0;