@import 'globals';

@mixin box-radius {
    border-radius: 10px;
}

@mixin border-style {
    @include box-radius;
    border-width: 5px;
    border-style: dashed;
}

@mixin primary-box-border  {
    @include border-style;
    @include box-radius;
    border-color: $primary-color-accent;
    background-color: $primary-color-background-lighter;
}

@mixin secondary-box  {
    @include box-radius;
    background-color: $secondary-color-background;
}

@mixin secondary-box-border  {
    border-width: 0px;
    border-bottom-width: 5px;
    border-style: dashed;
    background-color: $secondary-color-background-lighter;
    border-color: $secondary-color;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding-top: 20px;
}

@mixin card-padding {
    padding: 20px 30px;
}

@mixin border-padding {
    padding: 35px;
}

@mixin center-horizontal{
    display: block;
    margin: auto;
}

@mixin center-vertical {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin max-section-width {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    font-size: 2.3rem;
    font-family: Pacifico, cursive;
    text-align: center;
    color: $secondary-color;
}

a.anchor {
    display: block;
    position: relative;
    top: -67px;
    visibility: hidden;
}

.company-logo {
    display:block;
    margin:auto;
    max-width: 100px;
    max-height: 70px;
    transition: all .2s ease-in-out;
    opacity: 0.8;
}

.company-logo:hover {
    transform: scale(1.1);
}

a {
    color: $primary-color-accent;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

a:hover {
    font-weight: bold;
    cursor: pointer;
}

.secondary-light-wave {
    fill: $secondary-color-lighter;
}

@mixin svg-wave {
    animation: moving-wave 7s ease-in-out infinite;
    position:relative;
    z-index: 0;
}

.svg-wave-top {
    @include svg-wave;
    vertical-align:bottom;
    transform-origin: bottom;
    top: 1px;
}

@keyframes moving-wave {
    0%, 100% {transform: scale(1, 1)}
    50% {transform: scale(1, 1.23)}
}

.svg-wave-bottom {
    @include svg-wave;
    animation: moving-wave 7s ease-in-out infinite;
    transform-origin: top;
    top: -1px;
}

.space-under {
    margin-bottom: 40px;
}

::-moz-selection { background: $primary-color-accent; }
::selection { background: $primary-color-accent; }