.title {
  font-size: 2.3rem;
  font-family: Pacifico, cursive;
  text-align: center;
  color: #3f729b; }

a.anchor {
  display: block;
  position: relative;
  top: -67px;
  visibility: hidden; }

.company-logo {
  display: block;
  margin: auto;
  max-width: 100px;
  max-height: 70px;
  transition: all .2s ease-in-out;
  opacity: 0.8; }

.company-logo:hover {
  transform: scale(1.1); }

a {
  color: #FBAC16;
  text-decoration: none;
  transition: all .2s ease-in-out; }

a:hover {
  font-weight: bold;
  cursor: pointer; }

.secondary-light-wave {
  fill: #abc6db; }

.svg-wave-top {
  animation: moving-wave 7s ease-in-out infinite;
  position: relative;
  z-index: 0;
  vertical-align: bottom;
  transform-origin: bottom; }

@keyframes moving-wave {
  0%, 100% {
    transform: scale(1, 1); }
  50% {
    transform: scale(1, 1.23); } }

.svg-wave-bottom {
  animation: moving-wave 7s ease-in-out infinite;
  position: relative;
  z-index: 0;
  animation: moving-wave 7s ease-in-out infinite;
  transform-origin: top; }

.space-under {
  margin-bottom: 40px; }

::-moz-selection {
  background: #FBAC16; }

::selection {
  background: #FBAC16; }

.bg {
  height: 100vh;
  background-color: #ffecb3; }

.light-primary-wave {
  fill: #ffecb3; }

.circle {
  border-radius: 10px;
  border-width: 5px;
  border-style: dashed;
  padding: 35px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #fff0c2;
  border-color: #f5c262; }

.logo {
  display: block;
  margin: auto;
  width: 50%;
  margin-top: 1rem; }

.circle div {
  margin: 1rem; }
