.title {
  font-size: 2.3rem;
  font-family: Pacifico, cursive;
  text-align: center;
  color: #3f729b; }

p {
  font-size: 1.2rem; }

a.anchor {
  display: block;
  position: relative;
  top: -67px;
  visibility: hidden; }

.bg {
  height: 100vh;
  background-color: #ffecb3; }

.light-primary-wave {
  fill: #ffecb3; }

.circle {
  border-radius: 10px;
  border-width: 5px;
  border-style: dashed;
  padding: 35px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #fff0c2;
  border-color: #f5c262; }

.logo {
  display: block;
  margin: auto;
  width: 40%;
  margin-top: 1rem; }

.circle div {
  margin: 1rem; }
