@import '../../assets/globals';
@import '../../assets/theme';

.bg {
  height: 100vh;
  background-color: $primary-color-background;
}

.light-primary-wave {
  fill: $primary-color-background;
}

.circle {
  @include border-style;
  @include border-padding;
  @include center-vertical;
  border-radius: 50%;
  background-color: $primary-color-background-lighter;
  border-color: $primary-color;
}

.logo {
  display:block;
  margin:auto;
  width: 50%;
  margin-top: 1rem;
}

.circle div{
  margin: 1rem;
}