.bg {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: -webkit-sticky; /* Safari */
}

.circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: rgb(255,255,255, 0.2);
}

.logo {
  display:block;
  margin:auto;
  width: 40%;
  margin-top: 1rem;

}
